<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>403 --未登录，或没有权限访问！</title>
<style>
  body{
      background: url(views/403/img/bg.jpg);
      background-size:cover;
  }
  .content{
      margin-top: 15%;
      margin-left: 15%;
      color: white;
  }
  .title{
      font-size: 120px;
      letter-spacing: 10px;
  }
  .notice{
      margin-left: 10px;
  }
</style>
</head>
<body>

<div class="content">
    <div class="title">403</div>
    <p class="notice">sorry !       未登录，或没有权限访问！</p>
</div>
</body>
</html>