<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>抱歉，未找到页面 -- 404 </title>
<style>
    html {
	margin: 0;
	padding: 0;
	background-color: white;
}

body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#svgContainer {
	width: 640px;
	height: 512px;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.address {
	width: 100%;
	position: fixed;
	bottom: 10px;
	left: 0px;
	text-align: center;
}
</style>
</head>
<body>

<div id="svgContainer"></div>
<p  class="address"></p>
<script src="../views/404/static/js/eEjVBX.js"></script>
<script src="../views/404/static/js/MvBBBj.js"></script>
<script src="../views/404/static/js/script.js"></script>
</body>
</html>